SUPABASE_URL=https://tyvatatdguhtdpkqidel.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5dmF0YXRkZ3VodGRwa3FpZGVsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQwMjA1MiwiZXhwIjoyMDk3OTc4MDUyfQ.OAglK0_GKQ_tJlRurL9s-KDjSGVKSvr19NnnIN3X1Wo
SEARCH_SERVICE_URL=https://search-service-production-dac3.up.railway.app
PORT=5001
